.gradient-left {
  background: linear-gradient(
    to right,
    transparent 20%,
    rgba(255, 255, 255, 0.621) 100%, 
    transparent 100%
  );
}

.gradient-right {
  background: linear-gradient(
    to left,
    transparent 0%,
    rgba(255, 255, 255, 0.621) 100%, 
    transparent 100%
  );
}