@media (min-width: 768px) {
  .hero-img-desktop {
    -webkit-mask-image:
      linear-gradient(to bottom, black 70%, transparent 100%),
      linear-gradient(to left, black 55%, transparent 100%);
    -webkit-mask-composite: destination-in;

    mask-image:
      linear-gradient(to bottom, black 70%, transparent 100%),
      linear-gradient(to left, black 55%, transparent 100%);
    mask-composite: intersect;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%, 100% 100%;
    mask-size: 100% 100%, 100% 100%;
  }
}

.hero-img-mobile {
  filter: saturate(1.05);

  -webkit-mask-image:
    linear-gradient(
      to top,
      black 50%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%
    );

  mask-image:
    linear-gradient(
      to top,
      black 50%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%
    );
}



