/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", serif;
    font-size: var(--fs-text);
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

:root {
    --color-light: #ffffff;
    --color-dark: #000;
    --color-primary: #006de9;
    --color-primary-aux: #2c307e;
    --color-secondary: #d9a65b;
    --color-secondary-shine: #ffecc0;
    --color-gray1: #484848;
    --color-gray2: #fafaf6;


    --fs-titles: clamp(4rem, 6vw, 5rem);
    --fs-subtitles: clamp(3rem, 4vw, 3.5rem);
    --fs-text: 1.6rem;
}
/* --------------------- */

header {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    
}

/*  */
.logo {
    /* margin-top: 2rem; */
    width: 7.5rem;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    --gap: 5rem;
}

.primary-navigation a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-primary);
    font-weight: 300;

}


@media (max-width: 35rem) {
    .header-page {
        justify-content: space-between;
        margin: 2 2rem 0 2rem;
    }

    .primary-navigation {
        z-index: 1000;
        --gap: 2.5rem;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 13rem) 3rem;
        background: #2c307ea2;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        overflow-x: hidden;
        
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-navigation a{
        padding: 0.5rem 0;
        font-size: 1.6rem;
        color: var(--color-light);
        border-bottom: 1px solid var(--color-light);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("/images/hotel-svgrepo-com.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        border: none;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("/images/close-x-svgrepo-com.svg");
        background-size: cover;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .hero {
        height: 110vh;
    }
}
/*  */
.header-tittle {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 2rem;
    width: 90%;
    text-align: center;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0.5rem 0.5rem;
    color: var(--color-light);
    letter-spacing: 0.3rem;
    flex-direction: column;
}

.navbar {
    width: 90%;
    background-color: #fff;
}
.navbar a {
    color: var(--color-primary) !important;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(143, 143, 147, 0.097);
}

.lni {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: var(--color-primary) !important;
}

.hero {
    height: 70%;
    width: 100%;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-light);
    text-shadow: 0.1rem 0.1rem 2rem rgba(52, 52, 52, 0.635);
}

.hero-text {
    flex-direction: column;
}

section img {
    height: clamp(6rem, 8vw, 8rem);
}

.hero-text-act-general {
    font-size: clamp(4rem, 6vw, 6rem);
    color: var(--color-light);
    margin-top: 2rem;
    margin-bottom: 0;
}

.hero-text-sitio {
    font-size: clamp(3rem, 4.5vw, 4.5rem);
    margin-bottom: 4rem;
}

.hero h2 {
    background-color: var(--color-primary);
    color: var(--color-light) !important;
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    text-shadow: none !important;
}




@media (min-width: 768px) {
    .header-tittle {
        flex-direction: row;
    }
}

@media(max-width: 61.938rem) {
    /* .navflex {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    } */
    
}

/* --------- */

.actividades-header {
    flex-direction: column;
}

.actividades-header h1, .registro h3, .contacto h3 {
    font-size: clamp(3rem, 4vw, 4rem);
    color: var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 0;
}

.actividades-header img {
    height: 8rem;
}
.actividades-body {
    flex-direction: column;
}

.actividades-content img {
    max-height: 30rem;
}

.actividades-content {
    width: 100%;
}

.actividades-text {
    width: 40%;
}

.actividades-text h3 {
    color: var(--color-primary-aux);
}

.actividades-text p {
    color: var(--color-gray1);
}

/* ------- */

.direccion, .contacto {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.109);
}

iframe {
    max-width: 100%;
    max-height: 30rem;
    border-radius: 1rem;
    
}

.direccion span{
    color: var(--color-primary-aux);
}



@media(max-width: 61.938rem) {
   .actividades-content  {
       flex-direction: column !important;
   }
    
   .actividades-text {
    width: 100%;
    }

    hr{
        display: block;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 0.5px;
        width: 30%;
        border-color: rgb(189, 189, 189) !important;
    }

    iframe {
        margin-top: 1.5rem;
    }
}

/* ------------ */

.hoteles h3 {
    font-size: clamp(3rem, 4vw, 4rem);
}

.hoteles img {
    height: 8rem;
}

.hoteles a {
    background-color: var(--color-light);
    color: var(--color-primary);
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.registro a, .contacto a {
    background-color: var(--color-light);
    color: var(--color-primary);
    padding: 1rem 3.5rem;
    border-radius: 1rem;
    border: 3px solid var(--color-primary);
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.contacto img {
    height: 10rem;
}

.contacto i {
    font-size: 3rem;
    margin-right: 1rem;
}

.contacto a {
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    background-color: var(--color-primary);
    color: var(--color-light);
}


.bg-hero {
    background-image: linear-gradient(#01122669, #006de969), url(/images/WhatsApp\ Image\ 2025-01-31\ at\ 18.59.18\ \(2\).jpeg);
}
.bg-hero2 {
    background-image: linear-gradient(#2b2f76, #1e2154bc), url(/images/san-salvador-el-salvadors-capital-city.webp);
}